@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Roboto:wght@100;300;400;500;700&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
}

html {
    overflow: scroll;
    overflow-x: hidden;
}
::-webkit-scrollbar {
    width: 0;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}
/* Optional: show position indicator in red */
::-webkit-scrollbar-thumb {
    background: #FF0000;
}



body{
    /* position: relative; */
font-family: "Roboto";
padding-top: 20px;
background: #beced5;

}

#contacts-container{
width: 30%;
border: 1px solid rgb(160, 155, 155);
margin:auto;
min-width: 400px;
position: relative;
background: #f7f9fa;


 
 /* overflow: hidden;  */
}
.header-icons-wrapper{
    background: #fff;
    display: flex;
    justify-content: space-between;
    color: #000;
    padding-top: 10px;
   padding-right: 5%;
   padding-left: 5%;

}

/*====== Search Div ==========*/

.search-container{
    border-bottom: 2px solid rgb(214, 211, 211);
    background:#fff;
    color: #fff;
    font-family: "Krona One";
    
}
.search-container input{
    display: inline-block;
    width: 80%;
   
    padding: 10px 0;
    margin-bottom: 15px;
    
}

.search-container h1{
display: inline-block;
}
.search-container div{
display: flex;
justify-content: space-evenly;
}
.search-container div a{
display: inline-block;
font-size: 3rem;
font-weight: 100;
color: #000;
text-decoration: none;
}



/*====== Contacts Div ==========*/
#scrollspy{
    position: absolute;
    right: 3%;
    list-style: none;
    height: 200px;
    padding-top: 15px;
}
#scrollspy li{
    font-size: 0.85rem;
    line-height: 1.35;
    color: gray;
}

.ajax-wrapper h4{
    display: inline-block;
    margin: 0 ;
}

.ajax-wrapper{
    width: 60%;
    display: block;
    margin:auto;
}

.star-wrapper{
    width: 4.5%;
    margin-right: 15px;
    display: inline-block;
    transform: translateY(-20px);
    cursor: pointer;
}

.star-wrapper img{
    width: 100%;  
}
.star-wrapper a{
    text-decoration: none;  
}

#contacts-div{
height: 530px;
width: 90%;
display: block; 
overflow-y: scroll;
margin: auto;
/* overflow: auto; */
background: #f7f9fa;
padding-bottom: 30px;


}

.contact-item{
   display: block; 
   padding: 10px 0;
   border-bottom: rgb(243, 237, 237) 1px solid;
}



    .contact-item span{
        display: inline-block;
        
    }
    .contact-item h4{
        display: inline-block;
        margin: 0;
    }
    .contact-item p{
        margin: 0;
        
    }

.name-telefon-wrapper{
    display: inline-block;
    transform: translateY(-30px);
    text-decoration: none;
    padding-left: 40px;
}

.name-telefon-wrapper h5{
    color: #3f3e3e;
    font-size: 0.92rem;
}
.name-telefon-wrapper p{
    color: gray;
    font-size: 0.8rem;
    padding-top: 8px;
}

.avatar-wrapper{
    width: 15%;
    height: 50px;
    display: inline-block;
}
.avatar-wrapper img{
    width: 100%;
    border-radius: 45%;
}



.fav{
    font-size: 1.5rem;
}



.star-color{

    filter: invert(83%) sepia(17%) saturate(4556%) hue-rotate(164deg) brightness(100%) contrast(104%);
}
/*========== Botoom Div =================*/

.bottom-menubar-container{
    display: flex;
    justify-content: space-around;
    border-top: 1px solid black;
    padding-top: 13px;
}
.bottom-menubar-container a{
   text-decoration: none;
}
.bottom-menubar-container p{
   color: gray;
   font-size: 0.85rem;
   font-weight: 500;
   transform: translateX(-10px);
   padding: 5px 0;
}

/*========== Detail Item ==============*/

#detail-container{
    width: 40%;
    border: 1px solid black;
    margin:auto;
  
    
     
     /* overflow: hidden;  */
    }

#detail-div{
    height: 400px;
    width: 60%;
    display: block; 
    overflow-y: scroll;
    margin-left: auto;
    /* overflow: auto; */
    
    }

   /* #test{
       display: flex;
   } */