<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
  <main>
  <section id="detail-container">
<div class="search-container">
  <div>
    <a href="/"><==</a>
    <h1>Contact Detail</h1>
    <% const john="super" %> 
    <img src="https://qrickit.com/api/qr.php?d=BEGIN%3aVCARD%0d%0aVERSION%3a3.0%0d%0aN%3a%3b<%=`${john}`  %> %0d%0aORG
%3a.%0d%0a%3a%0d%0aEMAIL%3ajohndoe%40email.com%0d%0aTEL%3bTYPE%3d
CELL%3a5555555555%0d%0aTEL%3bTYPE%3dWORK%2cVOICE%3a5551231234%0d%0aNOTE%3aTest%0d%0a

%0d%0aEND%3aVCARD%0A&addtext=&txtcolor=000000&fgdcolor=000000&bgdcolor=FFFFFF&qrsize=100">
  </div> 
 
</div>


   
   
     <div id="detail-div">
    <h2></h2>
      
    
    </div>
     

     <div class="bottom-menubar-container">
       <h3>Recent</h3>
       <h3><a href="/">Contacts</a></h3> 
       <h3>Favourites</h3>
     </div>
   </section> 
   
<section>

</section>
</main>
   <script>
     
   </script>
</body>
</html>