<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
<input type="text" id="search" placeholder="Search" data-contacts-array="<%= result %>">

    <a href="/newContact">+Add Contact</a>
   <section>
<% result.forEach(elt => { %>
 <h2> <%=elt.name  %>  </h2>
<% }) %>
   </section> 


   <script>
       const search = document.getElementById("search")

search.addEventListener("keyup",async (e) => {
  try {
      const result = await fetch("/search")
      const response = await result.json()
      const last =  await fetch
      console.log(response)
  } catch (error) {
      console.log(error)
  }

})

//        for (let prop in search.dataset) {
//   console.log("o." + prop + " = " + search.dataset[prop]);
// }
    //   console.log(typeof search.dataset)
   </script>
</body>
</html>